@{
	Layout = "_Layout";
}

@using PierreTreats.ViewModels;

@model LoginViewModel

<h3>Log In</h3>
<hr/>
@using (Html.BeginForm())
{
	@Html.Label("Username")
	@Html.TextBoxFor(m => m.UserName)
	@Html.LabelFor(m => m.Password)
	@Html.TextBoxFor(m => m.Password)
	<input type="submit" value="Log In" class="btn btn-primary"/>
}